.form {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 100px;
    padding-top: 25px;
    margin: 0 10px;
}

.birdsList {
    font-family: Arial, Helvetica, sans-serif;
    padding: 100px;
    margin: 0 10px;

}

.bird {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0 10px;
}

.about {
    font-family: Arial, Helvetica, sans-serif;
    padding:100px;
    margin: 0 10px;
    
}

.welcome {
    font-family: Arial, Helvetica, sans-serif;
    padding: 100px;
    margin: auto;
    text-align: left;

}

.footer {
    position: relative;
    bottom: 0;
    background: linear-gradient(90deg, rgb(139,69,19) 0%, rgb(61,12,2) 100%);
    padding: 25px;
}

.medium-link {
    color: rgb(255,253,208);
}

.youtube-link {
    color: rgb(255,253,208);
}